<div class="import" id="cpanel_import" ng-controller="import_controller" ng-show="Content_active">
  <div class="bcrumb" style="top:2%;">
    <a href="#" ui-sref="mylsl" ui-sref-opts="{reload: true}">My LSL > </a>  <a  href="#" ui-sref="mylsl.cpanel"  ui-sref-opts="{reload: true}">Administrar operaciones > </a><span class="bcrumb_active">{{client.name_desc | uppercase }}</span>
  </div>
  <div class="search">
    <div class="row form-inline">
      <button class="btn search_btn" style="margin-right: 3%;" ng-click="enableSearch()"><i ng-class="search_icon" style="font-size:12px;margin-right:4px;"></i>{{search_text}}</button>
      <span ng-show="search_enable">
        <button class="btn search_btn search_date"><i class="glyphicon glyphicon-search"></i> Fecha </button>
        <input type="search" class="form-control search_box inp_date"  ng-model="impo_search_date" placeholder="Ingrese fecha: Ej. {{today | date:'dd-MM-yyyy'}}"/>



        <button class="btn search_btn search_op"><i class="glyphicon glyphicon-search"></i> N° Operación </button>
        <input type="search" class="form-control search_box inp_op"  ng-model="impo_search_op" placeholder="Escriba aquí la operación a buscar"/>


        <button class="btn search_btn search_doc"><i class="glyphicon glyphicon-search"></i> Doc. Aduanero </button>
        <input type="search" class="form-control search_box inp_doc"  ng-model="impo_search_doc" placeholder="Escriba aquí el documento a buscar"/>
      </span>
      <button class="btn  add_operation" ng-click="add_operation()"><i class="glyphicon glyphicon-plus"></i>Importación</button>
    </div>
  </div>
  <div class="operation_state setWhite">
    <div class="col-xs-6 pull-right">
      <div class="icon_inprogress"></div>
      <span class="state_description state_filter" ng-click="filterInProgress()" uib-tooltip="Filtrar por En Proceso" tooltip-trigger tooltip-placement="bottom">En proceso</span>
      <div class="icon_finished"></div>
      <span class="state_description state_filter" ng-click="filterFinished()" uib-tooltip="Filtrar por Terminados" tooltip-trigger tooltip-placement="bottom">Finalizado</span><span class="state_description">Total finalizadas: {{operations_finished}}</span><span>Total en proceso: {{operations_in_progress}}</span>
    </div>
  </div>

    <div class="fixed_title outside-title" style=""><span>{{client.name_desc | uppercase }}</span></div>

  <div class="table-responsive cp_impo_tb-responsive">    
    <table class="table cp_impo_tb table-striped table-curved table-condensed table-hover">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Ref Clientes</th>
          <th>Nro Op.</th>
          <th>Mercader&iacute;a</th>
          <th>SIMI</th>
          <th>VTO. SIMI</th>
          <th>Transporte</th>
          <th class="col-xs-1">embarque origen</th>
          <th class="col-xs-1">arribo estimado</th>      
          <th class="col-xs-1">Solicitud de fondos</th>
          <th class="col-xs-1">Recepci&oacute;n de fondos</th>
          <th class="col-xs-1">Fecha arribo</th>
          <th>Documento Aduanero</th>   
          <th class="col-xs-1">Fecha liberaci&oacute;n</th>
          <th>Factura LSL</th>
          <th class="fixed_actions">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr  data-ng-class="import.operation_state == 0 ? 'op_active' : 'op_finished'" ng-repeat="import in  filtered = operations_imp | orderBy: '-operation_number' |filter:{operation_state: state } | filter : paginate | filter : impo_search_date | filter : impo_search_op | filter : impo_search_doc | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
          <td>{{ import.owner}}</td>
          <td>{{ import.ref_client }}</td>
          <td>{{ import.operation_number }}</td>
          <td>{{ import.merchandise }}</td>
          <td>{{ import.custom_document_djai }}</td>
          <td>{{ import.expired_simi }}</td>
          <td>{{ import.transport }}</td>
          <td class="col-xs-1">{{ import.shipment_origin }}</td>
          <td class="col-xs-1">{{ import.estimated_arrival }}</td>  
          <td class="col-xs-1">{{ import.request_funding_date }}</td>
          <td class="col-xs-1">{{ import.recived_funds_date }}</td>         
          <td class="col-xs-1">{{ import.arrival_date }}</td>
          <td>{{ import.custom_document }}</td>        
          <td class="col-xs-1">{{ import.release_date }}</td>
          <td>{{ import.lsl_bill }}</td>
          <td class="fixed_actions actions"><a uib-tooltip="Ver m&aacute;s" tooltip-trigger tooltip-placement="top" ng-click="seeMore(import)" style="color:#66cc00;cursor:pointer;text-decoration: none; padding-right:5px;"><i style="top:0;" class="glyphicon glyphicon-folder-open"></i> </a><a uib-tooltip="Editar" tooltip-trigger tooltip-placement="top" ng-click="modifyImport(import)" style="color:#007a99;cursor:pointer;text-decoration: none;"><i style="top:0;" class="glyphicon glyphicon-edit"></i></a> <a ng-click="deleteImport(import)" style="color:red;cursor:pointer;text-decoration: none;" uib-tooltip="Eliminar" tooltip-trigger tooltip-placement="top"><i style="top:0;" class="glyphicon glyphicon-remove"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ul uib-pagination boundary-links="true" page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm" previous-text="Anterior" next-text="Siguiente"  first-text="Primero" last-text="&Uacute;ltimo"></ul>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-primary progress-bar-striped progress-bar-lineal active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
  Cargando...
</div>
</div>
<div class="progress sending">
  <div class="progress-bar progress-bar-primary progress-bar-striped progress-bar-lineal active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
  Enviando...
</div>
</div>