<div id="cpanel_lineal" class="clients cpanelLineal">
  <div class="bcrumb" style="top:3%;">
    <a href="#" ui-sref="mylsl" ui-sref-opts="{reload: true}">My LSL > </a> <span  class="bcrumb_active">Administrar Operaciones Lineal </span>
  </div>
  <div class="search">
    <div class="row form-inline">
      <button class="btn search_btn" style="margin-right: 3%;" ng-click="enableSearch()"><i ng-class="search_icon" style="font-size:12px;margin-right:4px;"></i>{{search_text}}</button>
      <span ng-show="search_enable">
        <button class="btn search_btn search_date"><i class="glyphicon glyphicon-search"></i>Enviado por</button>
        <input type="search" class="form-control search_box inp_date"  ng-model="owner_search" placeholder="Escriba aquí la persona a buscar"/>
        <button class="btn search_btn search_op"><i class="glyphicon glyphicon-search"></i> Ref LSL </button>
        <input type="search" class="form-control search_box inp_op"  ng-model="reflsl_search" placeholder="Escriba aquí la referencia LSL a buscar"/>
        <button class="btn search_btn search_doc"><i class="glyphicon glyphicon-search"></i> Doc. Aduanero</button>
        <input type="search" class="form-control search_box inp_doc"  ng-model="doc_aduanero_search" placeholder="Escriba aquí el Doc. Aduanero a buscar"/>
      </span>
      <button class="btn  add_operation" ng-click="add_operation_lineal()"><i class="glyphicon glyphicon-plus"></i> Op. Lineal</button>
    </div>
  </div>
  <div class="operation_state setWhite">
    <div class="icon_inprogress"></div>
    <span class="state_description state_filter" ng-click="filterInProgress()" tooltip="Filtrar por En Proceso" tooltip-trigger tooltip-placement="bottom">En proceso</span>
    <div class="icon_finished"></div>
    <span class="state_description state_filter" ng-click="filterFinished()" tooltip="Filtrar por Terminados" tooltip-trigger tooltip-placement="bottom">Finalizado</span><span class="state_description">Total finalizadas: {{operations_finished}} - Total en proceso: {{operations_in_progress}}</span>
  </div>
  <div class="table-responsive cp_impo_tb-responsive">
    <table class="table cp_impo_tb table-striped table-curved table-condensed table-hover">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Referencia</th>
          <th>N° Op.</th>
          <th>Mercader&iacute;a</th>
          <th>SIMI</th>
          <th>FOB SIMI</th>
          <th>VTO. SIMI</th>
          <th>Embarque Origen</th>
          <th>Arribo Estimado</th>
          <th>Fecha Arribo</th>
          <th>Monto Agencia</th>
          <th>Documento Aduanero</th>
          <th>FOB Despacho</th>
          <th class="fixed_actions">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-class="lineal.operation_state == 0 ? 'op_active' : 'op_finished'" ng-repeat="lineal in  filtered = operation_lineal | filter:{operation_state: state } | filter : paginate | filter : owner_search| filter : reflsl_search| filter : doc_aduanero_search|  startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
          <td>{{ lineal.owner}}</td>
          <td>{{ lineal.ref_client }}</td>
          <td>{{ lineal.operation_number }}</td>
          <td>{{ lineal.merchandise }}</td>
          <td>{{ lineal.custom_document_djai }}</td>
          <td>{{ lineal.fob_simi }}</td>
          <td>{{ lineal.expired_simi }}</td>
          <td>{{ lineal.shipment_origin }}</td>
          <td>{{ lineal.estimated_arrival }}</td>
          <td>{{ lineal.arrival_date }}</td>
          <td>{{ lineal.agency_amount }}</td>
          <td>{{ lineal.custom_document }}</td>
          <td>{{ lineal.fob_despacho }}</td>
          <td class="fixed_actions actions">
          <a tooltip="Ver m&aacute;s" tooltip-trigger tooltip-placement="top" ng-click="seeMoreInfo(lineal)" style="color:#66cc00;cursor:pointer;text-decoration: none; padding-right:5px;">
              <i style="top:0;" class="glyphicon glyphicon-folder-open"></i>
            </a>
            <a tooltip="Editar" tooltip-trigger tooltip-placement="top" ng-click="modifyLineal(lineal, $index)" style="color:#000;cursor:pointer;margin-right:5px;text-decoration: none;">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a ng-click="deleteLineal(lineal, $index)" style="color:red;cursor:pointer;" tooltip="Eliminar" tooltip-trigger tooltip-placement="top" style="cursor:pointer;margin-right:5px;text-decoration: none;">
             <i class="glyphicon glyphicon-remove"></i>
           </a>
         </td>
       </tr>
     </tr>
   </tbody>
 </table>
</div>
<pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo" boundary-links="true"></pagination>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-primary progress-bar-striped progress-bar-lineal active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
  Cargando...
</div>
</div>
<div class="progress sending">
  <div class="progress-bar progress-bar-primary progress-bar-striped progress-bar-lineal active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
  Enviando...
</div>
</div>