
    <div ng-controller="login_controller">
    <div class="container-fluid" style="margin:10% 20%;">
      <div class="row" >
        <div class="col-lg-12" >
          <form>
           <label>usuario: </label><input class="form-control" type="text" ng-model="username">
            <span class="error">{{usernameError}}</span><br>
           <label>Contraseña: </label><input class="form-control" type="password" ng-model="password">
            <span class="error">{{passwordError}}</span>
            <br>
            <span class="error">{{loginError}}</span><br>
            <button class="btn search_btn" style="width:100%" ng-click="submit_login()">Ingresar</button>
          </form>
        </div>
        </div>
      </div>
    </div>
