<div class="spinner" ng-show="loading">
  <h1 style="margin-left: 33%;margin-top:8%;color: #cd6702; text-shadow: 1px 1px 2px #2e2e2e;">ENVIANDO...</h1>

<div class="progress" style="width:90%;margin:5%;">
  <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  </div>
</div>

</div>
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
  <form name="newclient" role="form" ng-submit="create_email()" autocomplete="off">
<div class="modal-body" style="padding:2% 5% 1% 5%;">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
      <span>Cliente: </span>
      <select ng-disabled="loadClient" id="select_client_email" ng-model="select_client_email" class="form-control header_controls" required>
        <option selected="selected" disabled="disabled" value="">Selecciona un cliente</option>
        <option ng-repeat="client in clients"  value="{{client.id}}">{{ client.name_desc }}</option>
      </select>
    </div>
    </div>
  </div>
  <div class="row">
<div class="col-xs-12">
    <div class="form-group">
      <span>Nombre y Apellido: </span>
      <input pattern="[A-Za-z0-9 _]+" type="text" class="form-control" ng-model="email.name"  placeholder="Ingrese el Nombre" />
      </div>
</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>E-Mail: </span>
      <input type="email" class="form-control" ng-model="email.email" placeholder="Ingrese el Correo Electrónico" />
      </div>
    </div>
  </div>

</div>

<div class="modal-footer" style="padding-right:5%;">
  <div class="row">
    <div class="col-xs-12">
      <input type="submit" style="width:200px" class="btn btn-primary" value="{{action}}">
      <button type="button" style="width:200px" class="btn btn-warning" ng-click="$dismiss()">Cancelar</button>
    </div>
  </div>
</div>

  </form>
</div>
