<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
<div class="modal-body">
  <form name="see_more_import" class="form-inline modal-see-more" role="form">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label><strong>FOB SIMI: </strong></label>
          <span>U$D 999,999.00.-</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label><strong>Condici&oacute;n: </strong></label>
          <span>Buena <i style="color: green;" class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label><strong>Monto agencia: </strong></label>
          <span>$ 999,999.00.-</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
        <label><strong>FOB Despacho: </strong></label>
          <span>€ 999,999.00.-</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label><strong>Forzoso: </strong></label>
          <span>14/11/2016 <i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn search_btn" ng-click="$dismiss()">Cerrar</button>
</div>
