<div class="spinner" ng-show="loading">
  <h1 style="margin-left: 33%;margin-top:8%;color: #cd6702; text-shadow: 1px 1px 2px #2e2e2e;">ENVIANDO...</h1>

<div class="progress" style="width:90%;margin:5%;">
  <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  </div>
</div>

</div>
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
  <form name="newclient" role="form" ng-submit="uploadClient()" autocomplete="off">
<div class="modal-body" style="padding:2% 5% 1% 5%;">
  <div class="row">

    <div class="col-xs-12">
      <div class="form-group">
      <span>seleccione tipo de archivo: </span>
      <span>Archivo: </span>
      <select ng-disabled="loadFileType" id="select_fileType" ng-model="select_fileType" class="form-control header_controls" required>
        <option selected="selected" disabled="disabled" value="">Selecciona un tipo de Archivo</option>
        <option ng-repeat="type in fileTypes" value="{{type.id}}">{{ type.fileType }}</option>
      </select>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>
          <div class="btn search_btn"><input type="file" name="file_client" onchange="angular.element(this).scope().get_filename()" uploader-model="client_upload.client_file"/>Selecciona un archivo</div>
          <p id="client_file">{{file_title}}</p>
        </label>
      </div>
    </div>
  </div>


</div>

<div class="modal-footer" style="padding-right:5%;">
  <div class="row">
    <div class="col-xs-12">
      <input id="submit_client_file" type="submit" style="width:200px" class="btn btn-primary" value="{{action}}">
      <button type="button" style="width:200px" class="btn btn-warning" ng-click="$dismiss()">Cancelar</button>
    </div>
  </div>
</div>

  </form>
</div>
