<div class="spinner" ng-show="loading">
  <h1 style="margin-left: 33%;margin-top:8%;color: #cd6702; text-shadow: 1px 1px 2px #2e2e2e;">ENVIANDO...</h1>
  <div class="progress" style="width:90%;margin:5%;">
    <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  </div>
</div>
</div>
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
<div class="modal-body">
  <form name="add_op_export" role="form" class="" ng-submit="create_export()" autocomplete="off">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>responsable: </span>
          <select ng-disabled="loadOwner" id="select_owner" ng-model="select_owner" class="form-control header_controls" required>
            <option selected="selected" disabled="disabled" value="">Selecciona un responsable</option>
            <option ng-repeat="user in users" value="{{user.userId}}">{{ user.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>referencia del cliente: </span>
          <input id="exp_ref_client" type="text" class="form-control"  ng-blur="check_ref_client()"  ng-model="operation_export.ref_client" placeholder="Ingrese la referencia de cliente" required/>
          <p class="validate_error">{{validate_ref_client}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>N&uacute;mero de operaci&oacute;n: </span>
          <input id="exp_operation_number" type="text" class="form-control"  ng-model="operation_export.operation_number" placeholder="Ingrese el número de operación" required/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Mercadería: </span>
          <input type="text" class="form-control" ng-model="operation_export.merchandise" placeholder="Ingrese la mercaderia a transportar" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Transporte: </span>
          <input  id="transport_expo" type="text" class="form-control" ng-model="operation_export.transport_expo" placeholder="Ingrese el transporte"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Agencia de carga: </span>
          <input  id="agency" type="text" class="form-control" ng-model="operation_export.agency" placeholder="Ingrese la agencia de carga "/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Ingreso a dep&oacute;sito: </span>
          <div class="input-group">
            <input class="date_day form-control" ng-model="operation_export.deposit_enter_day" type="number" id="date_day" min="1" max="31" placeholder="día">
            <input class="date_month form-control" ng-model="operation_export.deposit_enter_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
            <input class="date_year form-control" ng-model="operation_export.deposit_enter_year" type="number" id="date_year" min="1970" placeholder="año">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Fecha de Solicitud de fondos: </span>
          <div class="input-group">
            <input class="date_day form-control" ng-model="operation_export.request_funding_day" type="number" id="date_day" min="1" max="31" placeholder="día">
            <input class="date_month form-control" ng-model="operation_export.request_funding_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
            <input class="date_year form-control" ng-model="operation_export.request_funding_year" type="number" id="date_year" min="1970" placeholder="año">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Fecha de recepción de fondos: </span>
          <div class="input-group">
            <input class="date_day form-control" ng-model="operation_export.recived_funds_day" type="number" id="date_day" min="1" max="31" placeholder="día">
            <input class="date_month form-control" ng-model="operation_export.recived_funds_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
            <input class="date_year form-control" ng-model="operation_export.recived_funds_year" type="number" id="date_year" min="1970" placeholder="año">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Canal: </span>
          <select id="select_channel" class="form-control" ng-model="select_channel">
            <option selected="selected" disabled="disabled" value="">Seleccione el Canal</option>
            <option value="Verde">Verde</option>
            <option value="Naranja">Naranja</option>
            <option value="Rojo">Rojo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Documento Aduanero: </span>
          <input type="text"  class="form-control" ng-model="operation_export.custom_document" placeholder="Ingrese la descripción del doc. aduanero" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>FOB Permiso: </span>
          <input  id="channel" type="text" class="form-control" ng-model="operation_export.fob_rights" placeholder="Ingrese FOB Permiso"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Cut Off: </span>
          <div class="input-group">
            <input class="date_day form-control" ng-model="operation_export.cut_off_day" type="number" id="date_day" min="1" max="31" placeholder="día">
            <input class="date_month form-control" ng-model="operation_export.cut_off_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
            <input class="date_year form-control" ng-model="operation_export.cut_off_year" type="number" id="date_year" min="1970" placeholder="año">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Factura LSL: </span>
          <input  id="exp_ref_lsl" type="text" class="form-control" ng-model="operation_export.lsl_bill" placeholder="Ingrese el número de factura de LSL"/>
          <p class="validate_error">{{validate_ref_lsl}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>
            <div ng-if="operation_export.exp_pdf">
              <div class="btn search_btn" style="background:green;"><input type="file" name="exp_pdf" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_pdf"/>Selecciona un archivo de PDF</div>
            <a ng-if="!newFilePdf" style="margin-left: 25px;" href="{{operation_export.exp_pdf}}" target="_blank"><i class="glyphicon glyphicon-search"></i> Ver Archivo</a>
            <a ng-if="!newFilePdf" style="margin-left: 25px; color:red;" ng-click="deleteFile(operation_export.file_id_pdf, 'pdf')"><i class="glyphicon glyphicon-remove"></i>Eliminar</a>
              <p id="file_exp_pdf_msg">{{exp_pdf_title}}</p>
            </div>
            <div ng-if="!operation_export.exp_pdf">
              <div class="btn search_btn"><input type="file" name="exp_pdf" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_pdf"/>Selecciona un archivo de PDF</div>
              <p id="file_exp_pdf_msg">{{exp_pdf_title}}</p>
            </div>
          </label>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>
          <div ng-if="operation_export.exp_fcl">
           <div class="btn search_btn" style="background:green;"><input type="file" name="exp_fcl" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_fcl"/>Selecciona un archivo de FCL</div>
           <a ng-if="!newFileFcl" style="margin-left: 25px;" href="{{operation_export.exp_fcl}}" target="_blank"><i class="glyphicon glyphicon-search"></i> Ver Archivo</a>
           <a ng-if="!newFileFcl" style="margin-left: 25px; color:red;" ng-click="deleteFile(operation_export.file_id_fcl, 'fcl')"><i class="glyphicon glyphicon-remove"></i>Eliminar</a>
           <p id="file_fcl_msg">{{exp_fcl_title}}</p>
         </div>
         <div ng-if="!operation_export.exp_fcl">
          <div class="btn search_btn"><input type="file" name="imp_fcl" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_fcl"/>Selecciona un archivo de FCL</div>
          <p id="file_fcl_msg">{{exp_fcl_title}}</p>
        </div>
      </label>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>
          <div ng-if="operation_export.exp_simi">
            <div class="btn search_btn" style="background:green;"><input type="file" name="exp_simi" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_simi"/>Selecciona un archivo de SIMI</div>
          <a ng-if="!newFileSimi" style="margin-left: 25px;" href="{{operation_export.exp_simi}}" target="_blank"><i class="glyphicon glyphicon-search"></i> Ver Archivo</a>
          <a ng-if="!newFileSimi" style="margin-left: 25px; color:red;" ng-click="deleteFile(operation_export.file_id_simi, 'simi')"><i class="glyphicon glyphicon-remove"></i>Eliminar</a>
            <p id="file_exp_simi_msg">{{exp_simi_title}}</p>
          </div>
          <div ng-if="!operation_export.exp_simi">
            <div class="btn search_btn"><input type="file" name="exp_simi" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_simi"/>Selecciona un archivo de SIMI</div>
            <p id="file_exp_simi_msg">{{exp_simi_title}}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>
          <div ng-if="operation_export.exp_reqfound">
            <div class="btn search_btn"  style="background:green;"><input type="file" name="exp_reqfound" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_reqfound"/>Selecciona un archivo de REQ. FONDOS</div>
          <a ng-if="!newFileReqfound" style="margin-left: 25px;" href="{{operation_export.exp_reqfound}}" target="_blank"><i class="glyphicon glyphicon-search"></i> Ver Archivo</a>
          <a ng-if="!newFileReqfound" style="margin-left: 25px; color:red;" ng-click="deleteFile(operation_export.file_id_reqfound, 'reqfound')"><i class="glyphicon glyphicon-remove"></i>Eliminar</a>
            <p id="file_exp_reqfound_msg">{{imp_reqfound_title}}</p>
          </div>
          <div ng-if="!operation_export.exp_reqfound">
            <div class="btn search_btn"><input type="file" name="exp_reqfound" onchange="angular.element(this).scope().get_filename()" uploader-model="operation_export.exp_reqfound"/>Selecciona un archivo de REQ. FONDOS</div>
            <p id="file_exp_reqfound_msg">{{exp_reqfound_title}}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row" ng-show="isEditing">
    <div class="col-xs-12">
      <div class="form-group">
        <span>Estado de la operación: </span>
        <select id="select_op_state" ng-model="operation_export.op_state" class="form-control header_controls">
          <option selected="selected" disabled="disabled" value="">Selecciona un estado</option>
          <option value="0" selected>En Curso</option>
          <option value="1">Terminado</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input id="submit_exp" type="submit" style="width:200px" class="btn btn-primary" value="{{action}}">
    <button type="button" style="width:200px" class="btn btn-warning" ng-click="$dismiss()">Cancelar</button>
  </div>
</form>
</div>
