@import url("../fonts/roboto.css");
html,  body  {
  font-family:  'Trebuchet MS', sans-serif;
  color: #2e2e2e;
  font-size: 12px;
  background-color: #EBEBEB;
}
.progress-bar-lineal{
  width:100%;
  padding:3px;
  font-size:15px;
  background-color:#cd6702 !important;
}
.progress{
  width:80%;
  margin:250px 10%;
  height:26px;
}
/*.sending{
  width:80%;
  margin:250px 10%;
  height:26px;  
  }*/
  .multiselect.dropdown-toggle.btn.btn-default {
    border:  none;
    color:  #fff;
    vertical-align:  middle;
    padding: 8px 15px 8px 15px;
    background:  #ed7709;
    background-image:  -webkit-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -moz-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -ms-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -o-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  linear-gradient(to bottom,  #ed7709,  #cd6702);
    -webkit-border-radius:  5;
    -moz-border-radius:  5;
    border-radius:  5px;
    color:  #ffffff;
    font-size:  12px;
    text-decoration:  none;
    cursor: auto;
  }
  a {
   cursor: pointer;
   text-decoration:  none !important;
 }
 .bcrumb {
   position: absolute;
   left:  3%;
 }
 .bcrumb_active {
  color: #cd6702;
  cursor: default;
}
.video-js  {
  width:  100%;
  height:  100%;
}
.mylsl {
  position:  absolute;
  top: 1%;
  width:  7%;
  right: 1%;
}
.search  {
  position:  relative;
  margin-top: 2%;
}
/*.setWhite {
    color: #fff;
}
*/.client_logo_container img {
  max-width: 95%;
  min-width: 80%;
}
.search {
  margin-bottom: 2%;
  text-align:  left;
}
.spinner {
  position:  absolute;
  z-index:  9999;
  border-radius:  10px;
  background:  #fff;
  opacity: 0.9;
  width:  100%;
  height: 200px;
}
.spinner img {
  opacity:  1;
  position:  relative;
  width:  21%;
  margin-top:  20%;
  left:  35%;
}
.search .row {
  margin-left: 0;
}
.form-inline .search_box {
  border-radius:  0 5px 5px 0;
  width: 0%;
  height: 35px;
  transition: all .5s;
  opacity:  0;
  display: inline;
  margin-left:  -4px;
  margin-right: 1%;
}
.form-inline .show_input {
  width: 26%;
  opacity:  1;
}
a.disabled  {
 pointer-events:  none;
 cursor:  default;
 opacity: 0.5;
}
/*.search_btn {
      vertical-align:  middle;
      padding: 8px 15px 8px 15px;
      background-color: #cd6702;
      border-color:  #cd6702;
      color: #fff;
      font-size: 12px;
      cursor: auto;
  }
  */  .search_btn {
    vertical-align:  middle;
    padding: 8px 15px 8px 15px;
    background:  #ed7709;
    background-image:  -webkit-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -moz-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -ms-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -o-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  linear-gradient(to bottom,  #ed7709,  #cd6702);
    -webkit-border-radius:  5;
    -moz-border-radius:  5;
    border-radius:  5px;
    color:  #ffffff;
    font-size:  12px;
    text-decoration:  none;
    cursor: auto;
  }
  .search_btn:hover  {
    background:  #ff7903;
    background-image:  -webkit-linear-gradient(top,  #ff7903,  #cc6708);
    background-image:  -moz-linear-gradient(top,  #ff7903,  #cc6708);
    background-image:  -ms-linear-gradient(top,  #ff7903,  #cc6708);
    background-image:  -o-linear-gradient(top,  #ff7903,  #cc6708);
    background-image:  linear-gradient(to bottom,  #ff7903,  #cc6708);
    text-decoration:  none;
  }
  .search_btn_show_inp {
    border-radius:  5px 0px 0px 5px;
  }
  .search_btn:hover,  .search_btn:active,  .search_btn:focus {
    color: #fff;
  }
  input[type=checkbox]  {
   margin-right: 1%;
 }
 #emails {
  list-style:  none;
  font-size: 12px;
}
.del_mail {
  vertical-align:  middle;
  color:  red;
  cursor: pointer;
  margin-left:  1%;
}
.search .btn:hover {
 background-color: #cd6702;
}
.search .btn:active {
  border: none;
}
.search .btn:focus {
  outline:  none;
}
th  {
  color: #fff;
  background: #cd6702;
  text-align:  center;
  vertical-align:  middle;
}
.add_mail {
  padding: 0;
}
.table-curved  {
 border-collapse:  separate;
 border:  solid #ccc 1px;
 border-radius:  6px;
 border-left:  0px;
 border-top:  0px;
}
.table-curved > thead:first-child > tr:first-child > th  {
  border-bottom:  0px;
  border-top:  solid #ccc 1px;
}
.table-curved td,  .table-curved th  {
  border-left:  1px solid #ccc;
  border-top:  1px solid #ccc;
}
.table-curved td a {
  color: #2e2e2e;
  cursor: pointer;
}
.table-curved > :first-child > :first-child > :first-child  {
  border-radius:  6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child  {
  border-radius:  0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child  {
  border-radius:  0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child  {
  border-radius:  0 0 6px 0;
}
.table  {
  font-size: 11px;
  color: #2e2e2e;
  text-align:  center;
  vertical-align:  middle;
  background-color: #fff;
}
.pagination > .active > a,  .pagination > .active > a:focus,  .pagination > .active > a:hover,  .pagination > .active > span,  .pagination > .active > span:focus,  .pagination > .active > span:hover  {
  background-color: #cd6702;
  border-color: #fff;
  cursor: pointer;
}
.pagination > li > a,  .pagination > li > span  {
  cursor: pointer;
  color: #2e2e2e;
}
.pagination > li > a:hover,  .pagination > li > a:focus,  .pagination > li > span:hover,  .pagination > li > span:focus {
  color: #2e2e2e;
}
.pagination {
  margin-left: 40%;
}
.import,  .export,  .users,  .clients,  .cpanel, .bills  {
  padding:  2% 0 2% 1%;
  padding-bottom: 5%;
}
.nav-tabs {
 background-color: #eee;
 color: #2e2e2e;
}
.nav-tabs li  {
  border-top:  1px #ddd solid;
  border-right:  1px #ddd solid;
  border-radius:  5px 5px 0 0;
}
.glyphicon  {
  font-size:  17px;
}
.glyphicon-search {
  font-size: 12px;
  margin-right: 4px;
}
.list-item {
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  padding: 5%;
}
.menu a :hover  {
  background:  #ed7709;
  background-image:  -webkit-linear-gradient(top,  #ed7709,  #cd6702);
  background-image:  -moz-linear-gradient(top,  #ed7709,  #cd6702);
  background-image:  -ms-linear-gradient(top,  #ed7709,  #cd6702);
  background-image:  -o-linear-gradient(top,  #ed7709,  #cd6702);
  background-image:  linear-gradient(to bottom,  #ed7709,  #cd6702);
  ;
  color: #fff;
}
.mylsl_logo {
  width:  45%;
  margin-left:  15px;
  position:  absolute;
  bottom:  10%;
}
.lineal_logo {
  position:  absolute;
  z-index:  1;
  max-width:  5%;
  min-width:  5%;
  right:  0;
  margin-right:  4%;
  margin-top:  2%;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding-left: 15%;
  padding: 6%;
}
.menu a {
  text-decoration: none;
  color: #2e2e2e;
  background-color: #fff;
  cursor: pointer;
}
.menu-left {
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 20%;
  border-right: 1px #ddd solid;
  padding: 0;
  padding-bottom:150px;
  max-width: 200px;
}
.content {
      /*background-color: #016380;
      */  overflow-y: auto;
      text-align:  center;
    }
    .footer {
      background-color: #2e2e2e;
      position: fixed;
      bottom: 0;
      width: 100%;
      color: #fff;
      text-align: center;
      padding: 0.2%;
      z-index:  4;
    }
    .footer span {
      font-size: 12px;
      color: orange;
    }
    .menu li i {
      font-size: 15px;
      vertical-align:  middle;
    }
    .menu li span {
      margin-left: 5%;
      font-size: 12px;
      vertical-align:  middle;
    }
    .error {
      color: red;
      font-size: 12px;
    }
    .back_link {
      cursor: pointer;
      float: left;
    }
    .item_active  {
      background-color: #cd6702;
      color: #fff;
      transition:  all 0.2s ease-in-out;
    }
    #cpanel_top form {
      padding: 5%;
      margin-top: 2%;
    }
    #cpanel_top select{
      width:250px;
      margin-left: 10px;
    }
    #cpanel_top .form-group {
      margin-right: 5%;
    }
    #cpanel_top label  {
     font-size: 14px;

   }
   label {
    font-weight:  100;
  }
/*.add_operation {
      float: right;
    margin-right: 1.5%;
      vertical-align:  middle;
      padding: 8px 15px 8px 15px;
      background-color: #cd6702;
      border-color:  #cd6702;
      color: #fff;
      font-size: 12px;
      cursor: auto;
  }
  */  .add_operation {
    float: right;
    margin-right: 1.5%;
    vertical-align:  middle;
    padding: 8px 15px 8px 15px;
    background:  #ed7709;
    background-image:  -webkit-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -moz-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -ms-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  -o-linear-gradient(top,  #ed7709,  #cd6702);
    background-image:  linear-gradient(to bottom,  #ed7709,  #cd6702);
    -webkit-border-radius:  5;
    -moz-border-radius:  5;
    border-radius:  5px;
    color:  #ffffff;
    font-size:  12px;
    text-decoration:  none;
    cursor: auto;
  }
  .add_operation .glyphicon {
    font-size: 0.85em;
  }
  .add_operation:hover,  .add_operation:active,  .add_operation:focus {
    background-color: #cd6702;
    border-color: #cd6702;
    color: #fff;
  }
  .add_operation i {
    padding-right: 5%;
  }
  .header_controls  {
    font-size: 14px;
  }
  .modal_input {
    width: 564px;
    border-radius:  0px;
  }
  .modal-footer {
    padding: 10px;
  }
  .table-responsive {
    width:100%;
    vertical-align:  middle;
  }
  .input-group > .date_day {
    width:  21%;
    border-right: 1px dashed lightgray;
  }
  .input-group > .date_month {
    width:  22%;
    border-left:  none;
    border-right:  1px dashed lightgray ;
  }
  .input-group > .date_year {
    width:  25%;
    border-left:  none;
  }
  input[type="file"]  {
    display:  none;
  }
  .custom-file-upload  {
   color: #fff;
   border:  1px solid #ccc;
   background-color: #3a9c95;
   display:  inline-block;
   padding:  6px 12px;
   cursor:  pointer;
 }
 .validate_error {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 2px;
  color: red;
}
.validate_success {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 2px;
  color: green;
}
.icon_inprogress {
  width:  10px;
  height:  10px;
  border-radius:  100px;
  background-color:  #cd6702;
  display:  inline-block;
}
.icon_finished {
  width:  10px;
  height:  10px;
  border-radius:  100px;
  background-color:  green;
  display:  inline-block;
}
.state_description {
  margin-right: 5%;
}
.op_active {
  color: #cd6702;
}
.op_finished {
  color: green;
}
.state_filter {
  cursor: pointer;
}
.operation_state {
  text-align: right;
  padding-right: 1%;
  margin-bottom: 0.5%;
}
#download_app {
  background: url('../logos/map.png');
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}
.img_phone {
  position: absolute;
  z-index: 1;
  margin: auto;
  width: 100%;
}
.store_logos {
  padding-bottom: 10%;
}
#android_logo {
  width: 100%;
  padding-top: 5%;
}
#appstore_logo {
  width: 100%;
  padding-top: 5%;
}
.mobile_text_op {
  color: #cd6702;
  font-family:  'Roboto', sans-serif;
  margin-left: 8%;
  font-size: 1.8em;
}
.mobile_text_app {
  color: orange;
  font-family:  'Roboto', sans-serif;
  margin-left: 8%;
  font-size: 1.8em;
}
.mobile_display {
  margin-top: 1%;
}
@media screen and (min-device-width: 360px) and (min-device-width: 640px) {
  .mobile_display {
    margin-top: 10%;
  }
  .img_phone {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 100%;
  }
  .mobile_text {
    color: #fff;
    margin-left: 8%;
    font-size: 2em;
  }
  .logos {
    width: 100%;
    margin-bottom: 5%;
  }
  #android_logo {
    width: 100%;
    padding-top: 5%;
  }
  #appstore_logo {
    width: 100%;
    padding-top: 5%;
  }
}
@media screen and (min-device-width: 640px) and (min-device-height:360px) {
  .mobile_display {
    margin-top: 1%;
  }
  .img_phone {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 40%;
  }
  .logos {
    width: 50%;
  }
  #android_logo {
    width: 100%;
  }
  #appstore_logo {
    height: 57px;
    width: 100%;
  }
  .mobile_text {
    font-size: 2.5em;
  }
}
@media only screen and (min-device-width : 1024px)  {
  #container  {
    display: block;
  }
  #download_app {
    display: none;
  }
}
@media only screen and (max-device-width : 1023px) {
  #container  {
    display: none;
  }
  #download_app {
    display: block;
  }
}
table.table.cp_impo_tb{
  max-width: initial;
  width:200%;
  overflow-x: scroll;
}
table.table.cp_impo_tb tbody td:last-child{
  padding-bottom: 0px;
}
.fixed_actions{
  position: fixed;
  right: 51px;
  width: 102px;
}
.fixed_title{
  position: absolute;
  width:100%;
  top: 151px;
}
.fixed_title th{
  position: relative;
  width: 100%;
}
td.actions{
  background-color:white;
}
.table-responsive.cp_impo_tb-responsive{
  padding-top:60px;
  width: 90%;
}